@import forms.FormObjects
@import forms.FormObjects.Update
@import forms.FormObjects.Update
@(notes: Seq[dto.NoteDto], tags: Seq[dto.TagDto],searchForm: Form[forms.FormObjects.Search], message: Option[String])(implicit request: RequestHeader, messagesProvider: MessagesProvider,messagesApi: MessagesApi)
@implicitField = @{
    helper.FieldConstructor(views.html.tpl.element.f)
}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@@0.6.2/css/bulma.min.css">
    </head>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">Notes</h1>
                @message.map { m =>
                    <div class="notification">
                        <p>@Messages(m)</p>
                    </div>
                }
                <table class="table is-fullwidth">
                        <!-- ヘッダ部 -->
                    <thead>
                        <tr>
                            <th style="width: 5%">Id</th>
                            <th style="width: 20%">Title</th>
                            <th style="width: 40%">Content</th>
                            <th style="width: 15%">Tag</th>
                            <th style="width: 10%"></th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                        <!-- フッタ部 (作成フォーム) -->
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>@helper.inputText(FormObjects().createForm("title"), Symbol("id") -> "create-title", Symbol("class") -> "input")</td>
                            <td>@helper.inputText(FormObjects().createForm("content"), Symbol("id") -> "create-content", Symbol("class") -> "input")</td>
                            <td>
                                <div class="field">
                                @for(tag <- tags) {
                                    <input class="is-checkradio" id="tag-@tag.id" type="checkbox" name="create-tag[]" value="@tag.id">
                                    <label for="tag-@tag.id">@tag.name</label>
                                }
                                </div>
                            </td>
                            <td colspan="2">
                            @helper.form(action = routes.NotesController.create, Symbol("name") -> "create") {
                                @helper.CSRF.formField
                                <button type="button" class="button is-link" onclick="submitOfCreate()">+</button>
                            }
                            </td>
                        </tr>
                    </tfoot>
                        <!-- ボディ部 (更新・削除フォーム) -->
                    <tbody>
                    @for(note <- notes) {
                        <tr>
                            <td>@note.id</td>
                            <td>@helper.inputText(FormObjects().updateForm.fill(Update(note.id, note.title, note.content, List()))("title"), Symbol("id") -> s"update-${note.id}-title", Symbol("class") -> "input")</td>
                            <td>@helper.inputText(FormObjects().updateForm.fill(Update(note.id, note.title, note.content, List()))("content"), Symbol("id") -> s"update-${note.id}-content", Symbol("class") -> "input")</td>
                            <td>
                                <div class="field">
                                @for(tag <- tags) {
                                    @defining(if (note.tag.map(_.id).contains(tag.id)) "checked" else "") { checked =>
                                        <input class="is-checkradio" id="update-@note.id-tag-@tag.id" type="checkbox" name="update-@note.id-tag[]" value="@tag.id" @checked>
                                        <label for="update-@note.id-tag-@tag.id">@tag.name</label>
                                    }
                                }
                                </div>
                            </td>
                            <td>
                            @helper.form(action = routes.NotesController.update, Symbol("name") -> s"update-${note.id}") {
                                @helper.CSRF.formField
                                <input type="hidden" name="id" value="@note.id">
                                <button type="button" class="button is-fullwidth is-link" onclick="submitOfUpdate(@note.id)">Update</button>
                            }
                            </td>
                            <td>
                            @helper.form(action = routes.NotesController.delete, Symbol("name") -> "delete") {
                                @helper.CSRF.formField
                                <input type="hidden" name="id" value="@note.id">
                                <button class="button is-fullwidth is-danger">Delete</button>
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                @helper.form(action = routes.NotesController.index()) {
                    <div class="field has-addons">
                        <div class="control is-expanded">
                        @helper.inputText(searchForm("q"), Symbol("class") -> "input")
                        </div>
                        <div class="control">
                            <button class="button is-info">Search</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </body>
</html>